
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

body{
    overflow: hidden;
}

a{
    text-decoration: none;
}

@keyframes waves {
    0%{
        background: linear-gradient(110deg, #e55757, #bb73c2, #6985e9);
    }

   33%{
        background: linear-gradient(110deg, #6985e9, #e55757, #bb73c2);
   }

   66%{
        background: linear-gradient(110deg, #bb73c2, #6985e9, #e55757,);
   }

   100%{
        background: linear-gradient(110deg, #e55757, #bb73c2, #6985e9);
    }
}

.gradindex {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #C06262, #9F5CA6, #8092CF, #84D39A, #DCD87F);
}

.gradpop {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(110deg, #e55757, #bb73c2, #6985e9);
}

.gradalt {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(70deg, #92451a, #da7070, #d9ac6a);
}

.gradele {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(110deg, #41c49d, #6381e6, #d952e6);
}

.gradjpop {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(70deg, #7f5090, #d496c5);
}

.gradost {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #747474, #545a65, #696757, #695656, #313131);
}

h1{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    top: 10vh;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 325%;
    font-weight: 900;
    transform: scale(1,1.2);
    font-family:'Asset';
}

h1:hover{
    color:black;
    transform: scale(1.3, 1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}

@font-face {
    font-family: Asset;
    src: url(harmonic-collection\Asset-Regular.ttf);
  }

@font-face {
    font-family: Abril;
    src: url(harmonic-collection\AbrilFatface-Regular.ttf);
  }

h2{
    font-kerning: auto;
    display: inline-block;
    text-align: center;
    color: #8092CF;
    mix-blend-mode: normal;
    font-size: 200%;
    font-weight: 900;
    font-family: 'Abril Fatface', serif;
}

h2:hover{
    color: rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.buttonpop {
    position: absolute;
    top: 27%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
}

.buttonalt {
    position: absolute;
    top: 41%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
}

.buttonele {
    position: absolute;
    top: 55%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
}

.buttonjpop {
    position: absolute;
    top: 69%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
}

.buttonost {
    position: absolute;
    top: 83%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
}

.buttonpop:hover {
    background-color: #000000;
    transform: scaleX(2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}
.buttonalt:hover {
    background: #000000;
    transform: scaleX(2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}
.buttonele:hover {
    background: #000000;
    transform: scaleX(2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}
.buttonjpop:hover {
    background: #000000;
    transform: scaleX(2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}
.buttonost:hover {
    background: #000000;
    transform: scaleX(2);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}


.container1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 5%;
    top: 27%
}

.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 6.5%;
    top: 27%
}

.container3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 8%;
    top: 27%
}

.container4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 9.5%;
    top: 27%
}

.container5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 11%;
    top: 27%
}

.container6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 12.5%;
    top: 27%
}

.container7{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 14%;
    top: 27%
}

.container8{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 15.5%;
    top: 27%
}

.container9{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 17%;
    top: 27%
}

.container10{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 18.5%;
    top: 27%
}

.container11{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 20%;
    top: 27%
}

.container12{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 21.5%;
    top: 27%
}

.container13{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 23%;
    top: 27%
}

.container14{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 24.5%;
    top: 27%
}

.container15{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 26%;
    top: 27%
}

.container16{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 27.5%;
    top: 27%
}

.container17{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 29%;
    top: 27%
}

.container18{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 30.5%;
    top: 27%
}

.container19{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 32%;
    top: 27%
}

.container20{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 33.5%;
    top: 27%
}

.container21{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 35%;
    top: 27%
}

.container22{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 36.5%;
    top: 27%
}

.container23{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 38%;
    top: 27%
}

.container24{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 39.5%;
    top: 27%
}

.container25{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 41%;
    top: 27%
}

.container26{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 42.5%;
    top: 27%
}

.container27{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 44%;
    top: 27%
}

.container28{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 45.5%;
    top: 27%
}

.container29{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 47%;
    top: 27%
}

.container30{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 48.5%;
    top: 27%
}

.container31{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 50%;
    top: 27%
}

.container32{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 51.5%;
    top: 27%
}

.container33{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 53%;
    top: 27%
}

.container34{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 54.5%;
    top: 27%
}

.container35{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 56%;
    top: 27%
}

.container36{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 57.5%;
    top: 27%
}

.container37{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 59%;
    top: 27%
}

.container38{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 60.5%;
    top: 27%
}

.container39{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 62%;
    top: 27%
}

.container40{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 63.5%;
    top: 27%
}

.container41{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 65%;
    top: 27%
}

.container42{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 66.5%;
    top: 27%
}

.container43{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 68%;
    top: 27%
}

.container44{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 69.5%;
    top: 27%
}

.container45{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 71%;
    top: 27%
}

.container46{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 72.5%;
    top: 27%
}

.container47{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 74%;
    top: 27%
}

.container48{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 75.5%;
    top: 27%
}

.container49{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 77%;
    top: 27%
}

.container50{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 78.5%;
    top: 27%
}

.container51{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 80%;
    top: 27%
}

.container52{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 81.5%;
    top: 27%
}

.container53{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 83%;
    top: 27%
}

.container54{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 84.5%;
    top: 27%
}

.container55{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 86%;
    top: 27%
}

.container56{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 87.5%;
    top: 27%
}

.container57{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 89%;
    top: 27%
}

.container58{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 90.5%;
    top: 27%
}

.container59{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 92%;
    top: 27%
}

.container60{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 93.5%;
    top: 27%
}

.flexbox1{
    display: flex;
    background-color: #f1f1f1;
    opacity: 100%;
    height: 9%;
    width: 50%;
    margin-bottom: 10%;
    border-radius: 50%;
    text-align: center;
    font-size: 1%;
    cursor: pointer;
    border: none;
    animation: spin;
    animation-duration: 1.25s;
    animation-iteration-count: 1;
}

.flexbox1:hover{
    background-color: #000000;
    transform: scaleX(2);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, transform;
}

.flexbox0{
    align-items: center;
    display: flex;
    background-color: #f1f1f1;
    opacity: 0%;
    height: 9%;
    width: 50%;
    margin-bottom: 10%;
    border-radius: 50%;
    text-align: center;
    font-size: 1%;
}

@keyframes spin {
    0%{
        background-color: rgb(255, 255, 255);
        transform: rotate(180deg)
    }

   45%{
       background-color: #000000;
       transform: rotate(0deg);
       transform: scaleX(1.75);
   }

   55%{
    background-color: #000000;
    transform: rotate(0deg);
    transform: scaleX(1.75);
    }

   100%{
       background-color: #ffffff;
       transform: rotate(180deg);
   }
}

.bar {
    position: absolute;
    width: 100vw;
    height: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    bottom: 25%;
    left:0%;
}

.bar:hover{
    transform: translateX(100vw);
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

h3{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3:hover{
    color:black;
    animation: leftright, color, translateX;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes leftright {
    0%{
        color: rgb(0, 0, 0);
        transform: translateX(0px);
    }

    25%{
        color: #ffffff;
        transform: translateX(-200px);
   }

    50%{
        color: #000000;
        transform: translateX(0px);
    }

    75%{
        color: #ffffff;
        transform: translateX(200px);
        }

    100%{
        color: #000000;
        transform: translateX(0px);
   }
}

h4{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    right: 0;
    color: white;
    font-size: 200%;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}

h5{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    text-align: left;
    color: white;
    font-size: 200%;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}

.days1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 5%;
}

.days2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 19.7%;
}

.days3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 34.3%;
}

.days4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 49%;
}

.days5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 63.7%;
}

.days6{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 78.3%;
}

.days7{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 93%;
}

.displaybox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00000000;
    position: absolute;
    width: 100vw;
    height: 5vh;
    left: 0%;
    top: 86%;
}

.displayartist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #00000000;
    position: absolute;
    width: 47vw;
    height: 5vh;
    left: 0vw;
    top: 86%;
}

.displaydash{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00000000;
    position: absolute;
    width: 1vw;
    height: 5vh;
    left: 49.5vw;
    top: 86%;
}

.displaytrack{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00000000;
    position: absolute;
    width: 47vw;
    height: 5vh;
    left: 53vw;
    top: 86%;
}