
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

body{
    overflow: hidden;
}

a{
    text-decoration: none;
}

@keyframes waves {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes nebula {
    0% {
        background-position: 0% 0%;
    }
    12.5%{
        background-position: -150% -150%;
    }
    25%{
        background-position: 0% 0%;
    }
    37.5%{
        background-position: -150% 150%;
    }
    50%{
        background-position: 0% 0%;
    }
    62.5%{
        background-position: 150% -150%;
    }
    75%{
        background-position: 0% 0%;
    }
    87.5%{
        background-position: 150% 150%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.gradindex {
    background: linear-gradient(to right, #868686, #9d9d9d, #868686, #646464, #868686, #9d9d9d, #868686);
    background-repeat: no-repeat;
    background-size: 340% 100%;
    animation: waves 17s linear infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.gradpop {
    background: linear-gradient(110deg, #e55757, #bb73c2, #6985e9, #bb73c2, #e55757, #bb73c2, #6985e9);
    background-repeat: no-repeat;
    background-size: 340% 100%;
    animation: waves 17s linear infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.gradalt {
    background: linear-gradient(70deg, #92451a, #da7070, #d9ac6a, #da7070, #92451a, #da7070, #d9ac6a);
    background-repeat: no-repeat;
    background-size: 340% 100%;
    animation: waves 17s linear infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.gradele {
    background: linear-gradient(110deg, #41c49d, #6381e6, #d952e6, #6381e6, #41c49d, #6381e6, #d952e6);
    background-repeat: no-repeat;
    background-size: 340% 100%;
    animation: waves 17s linear infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.gradjpop {
    background: linear-gradient(70deg, #7f5090, #a66daa, #d496c5, #a66daa, #7f5090, #a66daa, #d496c5);
    background-repeat: no-repeat;
    background-size: 340% 100%;
    animation: waves 17s linear infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.gradost {
    background: linear-gradient(to right, #747474, #545a65, #696757, #695656, #747474, #545a65, #696757);
    background-repeat: no-repeat;
    background-size: 305% 100%;
    animation: waves 15s linear infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.gradvoid {
    background: rgb(0, 0, 0);
    background-size: 100% 100%;
    height: 150vh;
    width: 100vw;
}

.gradspace {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#bbbbbb,#999999 10%, #666666 30%, #333333 50%, #000000 70%);
    background-repeat: no-repeat;
    background-size: 101% 101%;
    margin-left: 0%;
    animation: nebula 15s ease-in-out infinite;
}

@font-face {
    font-family: BT Brik XXL;
    src: url(harmonic-collection\BTBrikXXL.otf) format ("otf");
}

@font-face {
    font-family: Mama;
    src: url(harmonic-collection\Mama-Regular.ttf) format ("ttf");
}

@font-face {
    font-family: FSP DEMO - Norman Fat;
    src: url(harmonic-collection\NormanFat.otf) format ("otf");
}

@font-face {
    font-family: AURORA PRO;
    src: url(harmonic-collection\AURORA-PRO.ttf) format ("ttf");
}

@font-face {
    font-family: Asset;
    src: url(harmonic-collection\Asset-Regular.ttf);
}

@font-face {
    font-family: Druk Wide Bold;
    src: url(harmonic-collection\Bruk-Wide-Bold.ttf) format ("ttf");
}

h1{
    display: inline-block;
    position: absolute;
    top: 7vh;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 525%;
    font-weight: 900;
    transform: scale(1.75, 1);
    font-family: Druk Wide Bold;
}

h1:hover{
    color:black;
    transform: scale(2, 1);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
}

h2{
    font-kerning: auto;
    display: inline-block;
    text-align: center;
    font-size: 100%;
    font-weight: 400;
    transform: scale(1, 1.7);
    font-family: 'Asset', serif;
    mix-blend-mode: normal;
}

h2:hover{
    color: rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    mix-blend-mode: normal;
}

.buttonpop {
    position: absolute;
    top: 27%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
    mix-blend-mode: lighten;
}

.buttonalt {
    position: absolute;
    top: 41%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
    mix-blend-mode: lighten;
}

.buttonele {
    position: absolute;
    top: 55%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
    mix-blend-mode: lighten;
}

.buttonjpop {
    position: absolute;
    top: 69%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
    mix-blend-mode: lighten;
}

.buttonost {
    position: absolute;
    top: 83%;
    left: 37.5%;
    width: 25%;
    height: 10%;
    background: #ffffff;
    border-radius: 50%;
    font-family: 'Abril';
    align-items: center;
    justify-content: center;
    display: flex;
    mix-blend-mode: lighten;
}

.buttonpop:hover {
    background-color: rgb(0, 0, 0);
    transform: scaleX(2.5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
    mix-blend-mode: luminosity;
}
.buttonalt:hover {
    background: #000000;
    transform: scaleX(2.5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
    mix-blend-mode: luminosity;
}
.buttonele:hover {
    background: #000000;
    transform: scaleX(2.5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
    mix-blend-mode: luminosity;
}
.buttonjpop:hover {
    background: #000000;
    transform: scaleX(2.5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
    mix-blend-mode: luminosity;
}
.buttonost:hover {
    background: #000000;
    transform: scaleX(2.5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform, background-color;
    mix-blend-mode: luminosity;
}

@keyframes float {
    0%{
        transform: translateY(0%)
    }
    30%{
        transform: translateY(0%)
    }
    40%{
        transform: translateY(2%)
    }
    50%{
        transform: translateY(0%)
    }
    80%{
        transform: translateY(0%)
    }
    90%{
        transform: translateY(-2%)
    }
    100%{
        transform: translateY(0%)
    }
}

.spcontainer{
    display:flex;
    flex-direction: column;
    background-color: #ffffff00;
    position: absolute;
    width: 84vw;
    height: 69vh;
    left: 8.5%;
    top: 17%;
    cursor: crosshair;
}
.spcontainer15{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 8.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer16{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 9.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer17{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 10.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer18{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 12.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer19{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 13.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer20{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 14.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer21{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 15.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer22{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 16.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer23{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 18.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer24{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 19.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer25{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 20.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer26{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 21.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer27{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 22.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer28{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 24.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer29{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 25.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer30{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 26.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer31{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 27.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer32{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 28.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer33{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 30.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer34{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 31.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer35{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 32.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer36{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 33.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer37{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 34.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer38{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 36.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer39{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 37.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer40{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 38.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer41{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 39.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer42{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 40.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer43{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 42.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer44{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 43.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer45{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 44.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer46{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 45.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer47{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 46.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer48{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 48.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer49{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 49.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer50{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 50.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer51{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 51.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer52{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 52.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer53{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 54.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer54{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 55.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer55{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 56.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer56{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 57.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer57{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 58.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer58{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 60.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer59{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 61.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer60{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 62.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer61{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 63.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer62{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 64.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer63{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 66.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer64{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 67.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer65{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 68.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer66{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 69.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer67{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 70.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer68{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 72.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer69{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 73.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer70{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 74.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer71{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 75.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer72{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 76.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer73{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 78.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer74{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 79.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer75{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 80.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer76{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 81.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer77{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 82.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer78{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 84.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer79{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 85.3%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer80{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 86.5%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer81{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 87.7%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer82{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 88.9%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer83{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 90.1%;
    top: 24%;
    cursor: crosshair;
}
.spcontainer84{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.2vw;
    height: 56vh;
    left: 91.3%;
    top: 24%;
    cursor: crosshair;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    width: 100vw;
    height: 58vh;
    left: 0%;
    top: 17%;
    cursor: crosshair;
}

.container1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 6.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 8%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 9.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 11%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 12.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container7{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 14%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container8{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 15.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container9{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 17%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container10{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 18.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container11{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 20%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container12{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 21.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container13{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 23%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container14{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 24.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container15{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 26%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container16{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 27.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container17{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 29%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container18{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 30.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container19{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 32%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container20{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 33.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container21{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 35%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container22{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 36.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container23{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 38%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container24{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 39.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container25{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 41%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container26{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 42.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container27{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 44%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container28{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 45.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container29{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 47%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container30{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 48.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container31{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 50%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container32{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 51.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container33{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 53%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container34{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 54.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container35{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 56%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container36{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 57.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container37{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 59%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container38{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 60.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container39{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 62%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container40{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 63.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container41{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 65%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container42{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 66.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container43{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 68%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container44{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 69.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container45{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 71%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container46{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 72.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container47{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 74%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container48{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 75.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container49{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 77%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container50{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 78.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container51{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 80%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container52{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 81.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container53{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 83%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container54{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 84.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container55{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 86%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container56{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 87.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container57{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 89%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container58{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 90.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container59{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 92%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

.container60{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff00;
    position: absolute;
    opacity: 100%;
    width: 1.5vw;
    height: 45vh;
    left: 93.5%;
    top: 26%;
    animation:float;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

@keyframes spflash {
    0%{
        background-color: #00000000;
    }
    50%{
        background-color: #000000;
    }
    100%{
        background-color: #00000000;
    }
}
.hidspbox1{
    display: flex;
    background-color: #00000000;
    opacity: 100%;
    height: 1.08vh;
    width: 1.08vw;
    margin-bottom: 11%;
    border-radius: 100%;
    animation: spflash 0.5s ease-in-out;
    animation-delay: 0.5s;
    cursor: crosshair;
    border: none;
}
.spbox1{
    display: flex;
    background-color: #000000;
    opacity: 100%;
    height: 1.08vh;
    width: 1.08vw;
    margin-bottom: 11%;
    border-radius: 100%;
    cursor: crosshair;
    border: none;
}
.spbox1:hover{
    background-color: #ffffff;
    transform: scaleY(2);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, transform;
}
.spbox0{
    align-items: center;
    display: flex;
    background-color: #000000;
    opacity: 0%;
    height: 1.08vh;
    width: 1.08vw;
    margin-bottom: 11%;
    border-radius: 100%;
    cursor: crosshair;
}
.spdot{
    display: flex;
    background-color: #ffffff;
    opacity: 100%;
    height: 1.08vh;
    width: 1.08vw;
    margin-bottom: 11%;
    border-radius: 100%;
    cursor: crosshair;
    border: none;
}
.spdot:hover{
    background-color: #000000;
    transform: scaleY(2);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, transform;
}

.flexbox1{
    display: flex;
    background-color: #ffffff;
    opacity: 100%;
    height: 9%;
    width: 50%;
    margin-bottom: 10%;
    border-radius: 50%;
    cursor: crosshair;
    border: none;
    animation: flash;
    animation-duration: 1.25s;
    animation-iteration-count: 1;
}
.flexbox1:hover{
    background-color: #000000;
    transform: scaleX(2);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, transform;
}
.flexbox0{
    align-items: center;
    display: flex;
    background-color: #ffffff;
    opacity: 0%;
    height: 9%;
    width: 50%;
    margin-bottom: 10%;
    border-radius: 50%;
    cursor: crosshair;
}
.flexdot{
    display: flex;
    background-color: #000000;
    opacity: 100%;
    height: 9%;
    width: 50%;
    margin-bottom: 10%;
    border-radius: 50%;
    cursor: crosshair;
    border: none;
}
.flexdot:hover{
    background-color: #ffffff;
    transform: scaleX(2);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, transform;
}
@keyframes flash {
    0%{
        background-color: rgb(255, 255, 255);
        transform: rotate(180deg)
    }

   45%{
        background-color: #000000;
        transform: rotate(0deg);
        transform: scaleX(1.75);
    }

   55%{
        background-color: #000000;
        transform: rotate(0deg);
        transform: scaleX(1.75);
    }

   100%{
        background-color: #ffffff;
        transform: rotate(180deg);
    }
}

.bar {
    position: absolute;
    width: 100vw;
    height: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    bottom: 25%;
    left:0%;
    cursor: wait;
}
.bar:hover{
    transform: translateX(100vw);
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

h3{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3:hover{
    color:black;
    animation: leftright, color, translateX;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes leftright {
    0%{
        color: rgb(0, 0, 0);
        transform: translateX(0px);
    }

    25%{
        color: #ffffff;
        transform: translateX(-200px);
   }

    50%{
        color: #000000;
        transform: translateX(0px);
    }

    75%{
        color: #ffffff;
        transform: translateX(200px);
        }

    100%{
        color: #000000;
        transform: translateX(0px);
   }
}

h4{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 0;
    color: white;
    font-size: 200%;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
h5{
    font-kerning: auto;
    display: inline-block;
    position: absolute;
    text-align: left;
    color: white;
    font-size: 200%;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}

.days1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 5%;
    cursor: ew-resize;
}
.days2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 19.7%;
    cursor: ew-resize;
}
.days3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 34.3%;
    cursor: ew-resize;
}
.days4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 49%;
    cursor: ew-resize;
}
.days5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 63.7%;
    cursor: ew-resize;
}
.days6{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 78.3%;
    cursor: ew-resize;
}
.days7{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 23%;
    left: 93%;
    cursor: ew-resize;
}

.displayartist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #00000000;
    position: absolute;
    width: 45vw;
    height: 5vh;
    left: 2vw;
    top: 86%;
    cursor: default;
}
.displaydash{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00000000;
    position: absolute;
    width: 1vw;
    height: 5vh;
    left: 49.5vw;
    top: 86%;
    cursor: default;
}
.displaytrack{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00000000;
    position: absolute;
    width: 45vw;
    height: 5vh;
    left: 53vw;
    top: 86%;
    cursor: default;    
}